<div *ngIf="message" class="addmodmessage">
  <p>{{ 'list.token' |translate }} {{message}} {{'list.'+type |translate}} <img src="{{imgurl}}" style="height: 10px;"> </p>
</div>

<div id="tokenList" class="lists tarjeta">

<h1 class="tituloPagina">{{'title.tokenList' | translate}}</h1>

  <button type="submit" routerLink="/addToken" mat-raised-button class="addbtn">{{'btn.addToken' | translate}}</button>


  <mat-form-field class="listFilter poolslist">
    <input (keyup)="applyFilter(target($event).value)" matInput placeholder="{{'nav.search' | translate}}">
  </mat-form-field>

  <mat-table matSort [dataSource]="dataSource" class="tablelist">

    <ng-container matColumnDef="token_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.id' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let token">{{token.token_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="token_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.name' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let token"><img src="{{token.token_img_url}}" class="tokenimg">{{token.token_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ticker">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.ticker' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let token">{{token.ticker}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>{{'data.edit' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let token"><a routerLink="/modToken/{{ token.token_id }}" class="editlink"> <i class="fa fa-pencil-square-o" aria-hidden="true"> </i> </a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="pagesize" showFirstLastButtons class="pagination"></mat-paginator>

</div>
