<div id="tokenList" class="lists">

  <h1>Listado de tokens</h1>

  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ticker</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let token of tokenList">
      <td>{{ token.token_id }}</td>
      <td>{{ token.token_name }}</td>
      <td>{{ token.ticker }}</td>
      <a routerLink="/ModToken/{{ token.token_id }}" class="editlink"> <td class="edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"> </i> </td> </a>
    </tr>
  </table>

</div>
