<div *ngIf="message" class="addmodmessage">
  <p>{{message}} </p>
</div>

<div id="pairList" class="lists tarjeta">

  <h1 class="tituloPagina">{{'title.pairList' | translate}}</h1>

  <button type="submit" routerLink="/addPair" mat-raised-button class="addbtn">{{'btn.addPair' | translate}}</button>

    <mat-form-field class="listFilter poolslist">
      <input (keyup)="applyFilter(target($event).value)" matInput placeholder="{{'nav.search' | translate}}">
    </mat-form-field>

  <mat-table matSort [dataSource]="dataSource" class="tablelist">

    <ng-container matColumnDef="pair_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.id' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pair">{{pair.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pair_exchange">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.exchange' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pair"><img src="{{pair.exchange_img_url}}" class="tokenimg">{{pair.exchange}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tokenA">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.tokenA' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pair"><img src="{{pair.tokenA_img_url}}" class="tokenimg">{{pair.tokenA}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tokenB">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.tokenB' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pair"><img *ngIf="pair.tokenB" src="{{pair.tokenB_img_url}}" class="tokenimg">{{pair.tokenB}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>{{'data.edit' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pair"><a routerLink="/modPair/{{ pair.id }}" class="editlink"> <i class="fa fa-pencil-square-o" aria-hidden="true"> </i> </a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="pagesize" showFirstLastButtons class="pagination"></mat-paginator>


</div>
