<div id="clientMod" class="lists tarjeta">
  <h1 class="tituloPagina">{{'title.clientMod' | translate}} #{{ client.client_id }}</h1>

  <form (ngSubmit)="submit()" #clientForm="ngForm" class="forms">
    <div class="" id="clientformalert">
      <p>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>{{'data.name' | translate}}</mat-label>
          <input type="text" matInput [(ngModel)]="client.client_name" id="client_name"
          name="client_name" #name="ngModel" placeholder="" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>{{'data.surname' | translate}}</mat-label>
          <input type="text" matInput [(ngModel)]="client.client_surname" id="client_surname"
          name="client_surname" #surname="ngModel" placeholder="" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>{{'data.email' | translate}}</mat-label>
          <input type="email" matInput [(ngModel)]="client.email" id="email"
          name="email" #email="ngModel" placeholder="" required>
        </mat-form-field>
      </p>
      <p class="displaynone alertinfo" id="clientexists">{{'error.clientForm' | translate}}</p>
    </div>
    <div class="forminput">
      <button type="button" mat-raised-button class="backbtn" color="warn" routerLink="/clientsList">{{'btn.back' | translate}}</button>
      <button type="submit" mat-raised-button class="submitbtn" [disabled]="!clientForm.form.valid">{{'btn.mod' | translate}}</button>
    </div>
  </form>
</div>
