<div id="poolList" class="lists tarjeta">

  <h1 class="tituloPagina">{{'title.poolList' | translate}}</h1>

  <button type="submit" routerLink="/PoolsByDay" mat-raised-button class="pbdbtn">{{'btn.poolsByDay' | translate}}</button>
  <button type="submit" routerLink="/AddPool" mat-raised-button class="addbtn">{{'btn.addPool' | translate}}</button>

  <mat-form-field class="listFilter poolslist">
    <input (keyup)="applyFilter(target($event).value)" matInput placeholder="{{'nav.search' | translate}}">
  </mat-form-field>

  <mat-table matSort [dataSource]="dataSource" class="tablelist">

    <ng-container matColumnDef="pool_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.id' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pool">{{pool.pool_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pool_coins">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.coins' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pool">
          <img *ngIf="pool.tokenB; else noimg" src="{{pool.tokenA_img_url}}" class="tokenimg">
          <ng-template #noimg> <img src="{{pool.tokenA_img_url}}" class="tokenimgalone"> </ng-template>
          <img *ngIf="pool.tokenB" src="{{pool.tokenB_img_url}}" class="tokenimg">
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pool_pair">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.pair' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pool">
          {{pool.tokenA}}
          <span *ngIf="pool.tokenB">/{{pool.tokenB}}</span>
          ({{ pool.exchange }})
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invested_quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.investedQuantity' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pool">{{pool.invested_quantity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pool_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'data.poolDate' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let pool">{{pool.pool_date | date: 'dd/MM/yyyy' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[10, 15, 21, max]" showFirstLastButtons class="pagination"></mat-paginator>


</div>
