<a routerLink="/home" class="nodecoration">
  <div class="header">

    <div id="darklight">
      <span class="light displaynone" id="light" href="#" (click)="changemode($event, 'light')">
        <i class="fa fa-sun-o" aria-hidden="true"></i>
      </span>
      <span class="dark " id="dark" href="#" (click)="changemode($event, 'dark')">
        <i class="fa fa-moon-o" aria-hidden="true" ></i>
      </span>
    </div>
    <div class="logodiv">
      <img class="logo" src="../assets/images/logo.gif">
    </div>

    <div class="green"></div>
    <div class="plants"></div>

    <div class="tituloheader">
      <h1>{{'title.header' | translate}}</h1>
    </div>

  </div>
</a>
