<div id="clientDet" class="lists tarjeta">
  <h1 class="tituloPagina">{{'title.clientDet' | translate}} #{{ client.client_id }}</h1>
  <div class="clientInfo">
    <h2>{{'clientDet.name' | translate}}: {{client.client_name}} {{client.client_surname}}</h2>
    <h2>{{'clientDet.since' | translate}}: {{client.entry_date | date: "dd/MM/yyyy"}}</h2>
    <h2>{{'clientDet.email' | translate}}: {{client.email}}</h2>
  </div>

  <div>
    <button type="submit" routerLink="/clientsList" mat-raised-button class="pbdbtn">{{'btn.back' | translate}}</button>
    <button type="submit" routerLink="/modClient/{{ client.client_id }}" mat-raised-button class="addbtn">{{'btn.modClient' | translate}}</button>
  </div>

  <div class="clientStats">
    <div class="clientProgress">
      <h2 class="titulo">{{'clientDet.lastProgress' | translate}}</h2>
      <div *ngFor="let p of progress.reverse()" class="progressData">
        <h3 *ngIf="p == 0; else neg">{{ p | number: "1.6-6" }}% &nbsp;<i class="fa fa-minus" aria-hidden="true"></i></h3>
        <ng-template #neg> <h3 *ngIf="p < 0; else pos">{{ p | number: "1.6-6" }}% &nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i></h3> </ng-template>
        <ng-template #pos> <h3 *ngIf="p > 0">{{ p | number: "1.6-6" }}% &nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i></h3> </ng-template>
      </div>
      <p>{{ 'data.lastProgress' | translate }}</p>
    </div>

    <div class="capitalProgress" *ngIf="loaded">
      <div class="capitalProgressData wallet">
        <h2 class="titulo">{{'clientDet.totalProgress' | translate}}</h2>
        <div class="capitalData">
          <div>
            <h2>{{'clientDet.initialCapital' | translate}}:</h2>
            <h2>{{ dollarUS.format(client.start_capital) }}</h2>
          </div>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <div>
            <h2>{{'clientDet.benefit' | translate}}<span *ngIf="clientInfo[0].NewCapitalTotal != 0">*</span>:</h2>
            <h2>{{ dollarUS.format(actual_capital - client.start_capital - clientInfo[0].NewCapitalTotal) }}</h2>
          </div>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <div>
            <h2>{{'clientDet.actual' | translate}}:</h2>
            <h2>{{ dollarUS.format(actual_capital) }}</h2>
          </div>
        </div>
        <ng-container *ngFor="let c of clientInfo"><h3 *ngIf="c.NewCapital != 0" class="clientDetNwc">* {{'clientDet.modified1' | translate}}: {{ c.NewCapital | number: "1.2-2"}} {{'clientDet.modified2' | translate}} {{ c.NewCapitalDate}}</h3></ng-container>
      </div>

      <div class="capitalProgressData bamboo">
        <h2 class="titulo">{{ 'month.' + getMonth(monthInfo[0].LastMonth) | translate }} {{ ' - ' }} {{'month.' + getMonth(monthInfo[0].ActualMonth) | translate }} {{'clientDet.progress' | translate}}</h2>
        <h2>{{'clientDet.benefitPercentage' | translate}} = %{{ monthInfo[0].BenefitPercentage | number: "1.6-6"}}:</h2>
        <div class="capitalData">
          <div>
            <h2>{{ 'month.' + getMonth(monthInfo[0].LastMonth) | translate }} {{' 1'}}:</h2>
            <h2>{{ dollarUS.format(monthInfo[0].LastMonthCapital) }}</h2>
          </div>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <div>
            <h2>{{'data.benefit' | translate}}<span *ngIf="monthInfo[0].NewCapital != 0">*</span>:</h2>
            <h2>{{ dollarUS.format(monthInfo[0].Benefit - monthInfo[0].NewCapital) }}</h2>
          </div>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <div>
            <h2>{{'month.' + getMonth(monthInfo[0].ActualMonth) | translate }}{{' 1'}}:</h2>
            <h2>{{ dollarUS.format(monthInfo[0].ActualCapital) }}</h2>
          </div>
        </div>
        <h3 *ngIf="monthInfo[0].NewCapital != 0">*{{'clientDet.modified1' | translate}}: {{ dollarUS.format(monthInfo[0].NewCapital) }} {{'clientDet.modified2' | translate}}
          <span *ngIf="monthInfo[0].CountNewCapitalDate == 1; else elseblock">{{ monthInfo[0].NewCapitalDate }}</span>
            <ng-template #elseblock>{{'clientDet.variousDates' | translate}}</ng-template>
        </h3>
      </div>
    </div>

  </div>
</div>
