<h1 class="tituloPagina">Modifica el token #{{ token.token_id }}</h1>

<form (ngSubmit)="submit()" #tokenForm="ngForm" class="forms">
  <p>
    <mat-form-field appearance="legacy" class="input">
      <mat-label>Name</mat-label>
      <input type="text" matInput [(ngModel)]="token.token_name" id="token_name"
      name="token_name" #name="ngModel" placeholder="" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" class="input">
      <mat-label>Ticker</mat-label>
      <input type="text" matInput [(ngModel)]="token.ticker" id="ticker"
      name="ticker" #ticker="ngModel" placeholder="" required>
    </mat-form-field>
  </p>
  <div class="forminput">
    <button type="button" mat-raised-button class="backbtn" color="warn" routerLink="/TokensList">Volver</button>
    <button type="submit" mat-raised-button class="submitbtn" [disabled]="!tokenForm.form.valid">Modificar</button>
  </div>
</form>
