<h1 class="tituloPagina">Modifica el token #{{ token.token_id }}</h1>

<form (ngSubmit)="submit()" #tokenForm="ngForm">
  <div class="forminput">
    <label for="token_name">Name</label>
    <input type="text" [(ngModel)]="token.token_name" id="token_name"
      name="token_name" #name="ngModel" required>
      <div *ngIf="name.invalid && name.dirty" class="alert">
        <div *ngIf="name.errors?.required" class="errorform">*Campo requerido</div>
      </div>
  </div>
  <div class="forminput">
    <label for="ticker">Ticker</label>
    <input type="text" id="ticker" [(ngModel)]="token.ticker"
      name="ticker" #ticker="ngModel" required>
      <div *ngIf="ticker.invalid && ticker.dirty" class="alert">
        <div *ngIf="ticker.errors?.required" class="errorform">*Campo requerido</div>
      </div>
  </div>
  <div class="forminput">
    <button type="button" routerLink="/TokensList" class="btnback">Volver</button>
    <button type="submit" [disabled]="!tokenForm.form.valid" class="btnsubmit">Añadir</button>
  </div>
</form>
