<div id="menu">
  <div class="itemmenu">
    <a routerLink="/UpdatePools"><p>Update Pools</p></a>
  </div>
  <div class="itemmenu">
    <a routerLink="/PoolsList"><p>Liquidity Pool</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/PoolsList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/AddPool"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu">
    <a routerLink="/PairsList"><p>Pair</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/PairsList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/AddPair"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu">
    <a routerLink="/TokensList"><p>Token</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/TokensList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/AddToken"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu">
    <a routerLink="/ExchangesList"><p>Exchange</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/ExchangesList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/AddExchange"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu">
    <a routerLink="/ClientsList"><p>Client</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/ClientsList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/AddClient"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
</div>
