<div id="menu">
  <div class="itemmenu" id="menuupdate">
    <a routerLink="/updatePools"><p>{{'menu.updatePools' | translate}}</p></a>
  </div>
  <div class="itemmenu" id="menupool">
    <a routerLink="/poolsByDay"><p>{{'menu.liquidityPool' | translate}}</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/poolVariation"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/addPool"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu" id="menupair">
    <a routerLink="/pairsList"><p>{{'menu.pair' | translate}}</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/pairsList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/addPair"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu" id="menutoken">
    <a routerLink="/tokensList"><p>{{'menu.token' | translate}}</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/tokensList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/addToken"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu" id="menuexchange">
    <a routerLink="/exchangesList"><p>{{'menu.exchange' | translate}}</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/exchangesList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/addExchange"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <div class="itemmenu" id="menuclient">
    <a routerLink="/clientsCapitals"><p>{{'menu.client' | translate}}</p></a>
    <div class="buttons buttons2">
      <div class="buttonlist"> <a routerLink="/clientsList"><i class="fa fa-list-ul" aria-hidden="true"></i></a> </div>
      <div class="buttonadd2"> <a routerLink="/addClient"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
    </div>
  </div>
</div>
