<div id="tokenAdd" class="lists tarjeta">
  <h1 class="tituloPagina">{{'title.tokenAdd' | translate}}</h1>

  <form (ngSubmit)="submit()" #tokenForm="ngForm" class="forms">
    <div class="" id="tokenformalert">
      <p>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>{{'data.name' | translate}}</mat-label>
          <input type="text" matInput [(ngModel)]="token.token_name" id="token_name"
          name="token_name" #name="ngModel" placeholder="" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>{{'data.ticker' | translate}}</mat-label>
          <input type="text" matInput [(ngModel)]="token.ticker" id="ticker"
          name="ticker" #ticker="ngModel" placeholder="" required (ngModelChange)="token.ticker = $event.toUpperCase()">
        </mat-form-field>
      </p>
      <p class="displaynone alertinfo" id="tokenexists">{{'error.tokenForm' | translate}}</p>
    </div>
    <p>
      <mat-form-field appearance="legacy" class="input">
        <mat-label>{{'data.logoUrl' | translate}}</mat-label>
        <input type="text" matInput [(ngModel)]="token.token_img_url" id="token_img_url"
        name="token_img_url" #url="ngModel" placeholder="" required>
      </mat-form-field>
    </p>

    <div class="forminput">
      <button type="button" mat-raised-button class="backbtn" color="warn" routerLink="/TokensList">{{'btn.back' | translate}}</button>
      <button type="submit" mat-raised-button class="submitbtn" [disabled]="!tokenForm.form.valid">{{'btn.add' | translate}}</button>
    </div>
  </form>
</div>
