<h1>Modifica el exchange #{{ exchange.exchange_id }}</h1>

<form (ngSubmit)="submit()" #exchangeForm="ngForm">
  <div class="forminput">
    <label for="exchange_name">Name</label>
    <input type="text" [(ngModel)]="exchange.exchange_name" id="exchange_name"
      name="exchange_name" #name="ngModel" required>
      <div *ngIf="name.invalid && name.dirty" class="alert">
        <div *ngIf="name.errors?.required" class="errorform">*Campo requerido</div>
      </div>
  </div>
  <div class="forminput">
    <label for="url">URL</label>
    <input type="text" id="url" [(ngModel)]="exchange.url"
      name="url" #url="ngModel" required>
      <div *ngIf="url.invalid && url.dirty" class="alert">
        <div *ngIf="url.errors?.required" class="errorform">*Campo requerido</div>
      </div>
  </div>
  <div class="forminput">
    <button type="button" routerLink="/ExchangesList" class="btnback">Volver</button>
    <button type="submit" [disabled]="!exchangeForm.form.valid" class="btnsubmit">Modificar</button>
  </div>
</form>

