<div id="tokenList" class="lists">

  <h1 class="tituloPagina">Daily Pools</h1>

  <mat-form-field class="listFilter">
    <input (keyup)="applyFilter(target($event).value)" matInput placeholder="Search...">
  </mat-form-field>

  <mat-table matSort [dataSource]="dataSource" class="tablelist">

    <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header><div *ngIf="col == 'Date'; else second">{{col}}</div></mat-header-cell>
          <ng-template #second><div *ngIf="col == 'TOTAL'; else third">{{col}}</div></ng-template>
          <ng-template #third><div *ngIf="col == 'Increment'; else four">{{col}}</div></ng-template>
          <ng-template #four><div *ngIf="col == 'Benefit'; else five"><span>{{col}}</span></div></ng-template>
          <ng-template #five>{{col.substring(0, col.indexOf(":")+1)}}<br>{{col.substring(col.indexOf(":")+2, col.length)}}</ng-template>
        <mat-cell *matCellDef="let pool"><span *ngIf="col != 'Benefit'; else benefit">{{pool[col]}}</span>
          <ng-template #benefit><span *ngIf="pool[col] < 0; else pos" class="negBenefit">{{pool[col]}}</span></ng-template>
          <ng-template #pos><span class="posBenefit">{{pool[col]}}</span></ng-template>

        </mat-cell>

    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="pagination"></mat-paginator>

</div>
