<div id="poolList" class="lists">

  <h1 class="tituloPagina">Daily Pools</h1>

  <button type="submit" routerLink="/PoolsList" mat-raised-button class="pbdbtn">Pools list</button>

  <mat-form-field class="listFilter poolslist">
    <input (keyup)="applyFilter(target($event).value)" matInput placeholder="Search...">
  </mat-form-field>

  <mat-table matSort [dataSource]="dataSource" class="tablelist">

    <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header><div *ngIf="col == 'Date'|| col == 'TOTAL' || col == 'Increment' || col == 'Benefit'; else show">{{col}}</div></mat-header-cell>
          <ng-template #show> <div *ngIf="col == 'Show Pairs' || col == 'Hide Pairs'; else othercols" (click)="submit()">{{col}} </div> </ng-template>
          <ng-template #othercols> <span *ngIf="col.substring(col.length - 4, col.length) == 'null'; else nullcol">{{col.substring(0, col.indexOf(":")+1)}}<br>{{ col.substring(col.indexOf(":")+2, col.length - 6)}}</span>
            <ng-template #nullcol> {{col.substring(0, col.indexOf(":")+1)}}<br>{{ col.substring(col.indexOf(":")+2, col.length)}}</ng-template>
          </ng-template>
        <mat-cell *matCellDef="let pool"><span *ngIf="col == 'Increment'; else show">${{pool[col] | number: '1.2-2'}}</span>
          <ng-template #show><div *ngIf="col == 'Show Pairs' || col == 'Hide Pairs'; else benefit" (click)="submit()" class="pointer">...</div></ng-template>
          <ng-template #benefit><span *ngIf="col == 'TOTAL'; else date">${{pool[col] | number: '1.2-2'}}</span></ng-template>
          <ng-template #date><span *ngIf="col == 'Date'; else cols">{{pool[col]}}</span></ng-template>
          <ng-template #cols><span *ngIf="col != 'Benefit'; else neg">${{pool[col]}}</span></ng-template>
          <ng-template #neg><span *ngIf="pool[col] < 0; else pos" class="negBenefit">{{pool[col] | number: '1.6-6'}}%</span></ng-template>
          <ng-template #pos><span  *ngIf="pool[col] > 0; else pos2" class="posBenefit">{{pool[col] | number: '1.6-6'}}%</span></ng-template>
          <ng-template #pos2><span class="zeroBenefit">{{pool[col] | number: '1.6-6'}}%</span></ng-template>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="pagination"></mat-paginator>

</div>
