<div id="exchangeList" class="lists">

  <h1 class="tituloPagina">Listado de exchanges</h1>

  <mat-form-field class="listFilter">
    <input (keyup)="applyFilter(target($event).value)" matInput placeholder="Search...">
  </mat-form-field>

  <mat-table matSort [dataSource]="dataSource" class="tablelist">

    <ng-container matColumnDef="exchange_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let exchange">{{exchange.exchange_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="exchange_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let exchange"><img src="../../../../assets/images/exchanges/{{exchange.exchange_name}}.png" class="tokenimg">{{exchange.exchange_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef mat-sort-header>URL</mat-header-cell>
        <mat-cell *matCellDef="let exchange"><a href="{{exchange.URL}}" target="blank">{{exchange.URL}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let exchange"><a routerLink="/ModExchange/{{ exchange.exchange_id }}" class="editlink"> <i class="fa fa-pencil-square-o" aria-hidden="true"> </i> </a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="pagination"></mat-paginator>

</div>
