<div id="poolList" class="lists">

  <h1 class="tituloPagina">Daily Pools</h1>

  <button type="submit" routerLink="/PoolsList" mat-raised-button class="pbdbtn">Pools list</button>

  <mat-form-field class="listFilter poolslist">
    <input (keyup)="applyFilter(target($event).value)" matInput placeholder="Search...">
  </mat-form-field>

<div style="position: relative;">
    <mat-table matSort [dataSource]="dataSource" class="tablelist tablemix">
      <ng-container *ngFor="let col of displayedColumns1" matColumnDef="{{col}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{col}}</mat-header-cell>
          <mat-cell *matCellDef="let pool"><span *ngIf="col == 'Increment'; else date">${{pool[col] | number: '1.2-2'}}</span>
            <ng-template #date><span *ngIf="col == 'Date'; else empty">{{pool[col]}}</span></ng-template>
            <ng-template #empty><span *ngIf="col == 'Empty'; else total"></span></ng-template>
            <ng-template #total><span *ngIf="col == 'TOTAL'; else ben">${{pool[col] | number: '1.2-2'}}</span></ng-template>
            <ng-template #ben>
              <span *ngIf="col == 'Benefit'">
                <span *ngIf="pool[col] < 0; else pos" class="negBenefit">{{pool[col] | number: '1.6-6'}}%</span>
              </span>
              <ng-template #pos><span  *ngIf="pool[col] > 0; else pos2" class="posBenefit">{{pool[col] | number: '1.6-6'}}%</span></ng-template>
              <ng-template #pos2><span class="zeroBenefit">{{pool[col] | number: '1.6-6'}}%</span></ng-template>
            </ng-template>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
    </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="pagination"></mat-paginator>



  <div class="dailyPools2 table2">
    <mat-table matSort [dataSource]="dataSource" class="tablelist">
      <ng-container *ngFor="let col of displayedColumnsLong" matColumnDef="{{col}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header><div *ngIf="col != 'Date' && col != 'TOTAL' && col != 'Increment' && col != 'Benefit'">{{col.substring(0, col.indexOf(":")+1)}}<br>{{col.substring(col.indexOf(":")+2, col.length)}}</div></mat-header-cell>
          <mat-cell *matCellDef="let pool"><span *ngIf="col != 'Date' && col != 'TOTAL' && col != 'Increment' && col != 'Benefit';">${{pool[col]}}</span></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsLong"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsLong"></mat-row>
    </mat-table>
  </div>

</div>

</div>
