body {
  margin: 0;
  background-color: rgb(182, 218, 182);
}

/* Lateral Menu */

#menu {
  background-color: rgb(51, 51, 51);
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
}

#menu a {
  color: black;
}

.itemmenu {
  font-size: 1.5em;
  line-height: 50px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: 20px 0px;
}

.itemmenu:hover {
  background-color: rgb(90, 90, 90);
}

.itemmenu:hover p {
  color: white;
}

.itemmenu a {
  text-decoration: none;
}

.itemmenu p {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  height: 30px;
}

.buttons i {
  display: block;
  font-size: 22px;
  line-height: 33px;
}

.buttons2 div { width: 50%; }

.buttonlist{ background-color: rgb(159, 197, 255); border-radius: 0px 0px 0px 5px; }
.buttonadd2{ background-color: rgb(121, 241, 137); border-radius: 0px 0px 5px 0px; }

.buttonlist:hover{ background-color: rgb(116, 170, 252); }
.buttonadd2:hover{ background-color: rgb(73, 211, 91); }

/* Screen */

.lists {
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.mat-column-client_id,
.mat-column-token_id,
.mat-column-exchange_id,
.mat-column-pair_id,
.mat-column-edit {
  flex: 0 0 80px !important;
}

.mat-table {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.mat-header-row {
  background-color: rgb(44, 44, 44);
}

.mat-header-cell {
  font-size: 1.2em;
}

.mat-sort-header-arrow, .mat-header-cell {
  color: white;
}

.mat-row:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

.mat-row:hover {
  background-color: rgb(219, 219, 219);
}

.editlink {
  background-color: transparent;
  display: block;
  border-radius: 100px;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3em;
}

.editlink:hover {
  background-color: rgb(252, 134, 66);
}

.web {
  width: 99%;
  display: flex;
}

.menulateral{
  position: fixed;
  width: 250px;
  padding-left: 15px;
  margin-top: 20px;
}

.contenido{
  width: inherit;
  padding: 20px;
  margin-left: 260px;
}

#contenedor {
  box-shadow: 0px 4px 6px 0px #00000040;
  background-color: whitesmoke;
  border-radius: 15px;
}

.tituloPagina {
  background-color: rgb(44, 44, 44);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  margin: 0;
  border-radius: 15px 15px 0 0;
  line-height: 2em;
  padding: 10px 0;
}

.bloque h1 {
  text-align: center;
}

.tablelist, .pagination {
  margin: 0 20px;
}

.listFilter {
  width: 100%;
}

.listFilter .mat-form-field-wrapper {
  margin: 0 20px;
  width: 200px !important;
  float: right;
}

form {
  width: max-content;
  margin: auto;
  text-align: right;
  font-size: 1.5em;
}

.forminput {
  margin: 25px auto;
}

.forminput label {
  margin: 0 25px;
  font-weight: bold;
}

.forminput input {
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
}

.forminput select {
  padding: 5px;
  font-size: 0.8em;
}

.submitbtn{
  margin: auto;
}

.forminput button {
  padding: 10px;
  font-size: 0.8em;
  border-radius: 10px;
  margin: 0 25px;
}

.btnsubmit { background-color: rgb(121, 241, 137); cursor: pointer; }
.btnback { background-color: rgb(255, 91, 91); cursor: pointer;}

.errorform {
  color: crimson;
  font-size: 0.8em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
