body {
  margin: 0;
  background-color: rgb(182, 218, 182);
  font-family: 'Exo 2', sans-serif !important;
  min-width: 320px;
}

.displaynone {
  display: none !important;
}

.tituloPagina,
.mat-table,
.mat-select-value-text,
.mat-paginator-container,
.listFilter .mat-form-field-wrapper,
.poolsdone h2,
.nodata h2,
.notfound h2,
.mat-form-field,
.nopairtopool h2,
.clientInfo h2,
.clientStats h2,
.firsthome h2,
.clientStats h3,
.header h1 {
  font-family: 'Exo 2', sans-serif !important;
  font-weight: bold;
}

.mat-button-wrapper,
form {
  font-family: 'Exo 2', sans-serif !important;
}

.nodecoration {
  text-decoration: none;
}

/* Header */

.header {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 85px;
  width: 100%;
  background-color: #70a56c;
}

.tituloheader {
  text-align: center;
  margin: auto;
  height: 100%;
}

.tituloheader h1 {
  position: relative;
  z-index: 3;
  color: white;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  font-size: 4em;
  padding: 15px 0px;
}

#darklight {
  position: absolute !important;
  z-index: 7;
  left: -30px;
  top: -30px;
  font-size: 2em;
}

#darklight span {
  margin: 0 10px;
}

#darklight .dark {
  color: black;
}

#darklight .light {
  color: white;
}

#darklight .light i,
#darklight .dark i {
  transition: transform 3s ease-in-out;
  padding: 40px;
}

#darklight .light:hover i {
  transform: rotate(360deg) scale(1.2);
  text-shadow: 0px 0px 5px rgba(255,255,0,1);
}

#darklight .dark:hover i {
  transform: rotate(360deg) scale(1.2);
  text-shadow: 0px 0px 5px rgb(127, 255, 254);
}

.plants {
  position: absolute;
  background-image: url(/assets/images/plant.png);
  background-size: contain;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 18px;
  animation: plant;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes plant {
  0%    { bottom: 0; }
  80%   { bottom: 0; }
  80.01% { bottom: -16px; }
  100%  { bottom: 0; }
}

.green{
  position: absolute;
  z-index: 1;
  background-color: #70a56c;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 20px;
  animation: greenanim;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes greenanim {
  0%    { width: 3%; }
  80%   { width: 103%; }
  80.01% { width: 100%; }
  80.02% { width: 0%; }
  100%  { width: 0%; }
}

.logo {
  background-color: #70a56c;
  border-radius: 15px;
  z-index: 2;
  width: 80px;
  position: absolute;
  bottom: -3px;
  animation: logo;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0%     { left: 0%; }
  80%    { left: 100%; }
  80.01% { left: -100px; }
  90%    { left: -100px; }
  100%   { left: 0px; }
}

.pointer {
  cursor: pointer;
}

/* Nav Menu */

#menu {
  background-color: rgb(51, 51, 51);
  text-align: center;
  margin: 0;
  padding: 5px 15px;
}

#menu a {
  color: black;
}

.itemmenu {
  position: relative;
  display: inline-block;
  width: 16%;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: auto;
  border: 2px solid rgb(51, 51, 51);
  padding-bottom: 25px;
}

.itemmenu:hover {
  background-color: rgb(120, 120, 120);
  border: 2px solid black;
}

.itemmenu:hover p {
  color: white;
}

.menuhover {
  background-color: rgb(120, 120, 120);
  border: 2px solid black;
}

.menuhover p {
  color: white;
}

.itemmenu a {
  text-decoration: none;
}

.itemmenu p {
  margin: auto;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: bold;
}

.itemmenu .itemText {
  padding: 5px 3px;
}

.itemmenu:first-child {
  padding-bottom: 0;
  transform: translateY(12px);
  margin-top: -12px;
}

.itemmenu:first-child p {
  padding: 17px 5px;
}

.buttons {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25px;
}

.buttons i {
  display: block;
  font-size: 1.3em;
  line-height: 1.5em;
}

.buttons2 div { width: 50%; }

.buttonlist{ background-color: rgb(159, 197, 255); border-radius: 0px 0px 0px 5px; }
.buttonadd2{ background-color: rgb(121, 241, 137); border-radius: 0px 0px 5px 0px; }

.buttonlist:hover { background-color: rgb(22, 93, 201); }
.buttonadd2:hover { background-color: rgb(22, 181, 43); }
.buttonlist:hover i { color: white; }
.buttonadd2:hover i { color: white; }

.web {
  /*width: 100vw;*/
  height: 100vh;
}

/* Language selector */

.langcontainer {
  position: absolute;
  overflow: hidden;
  z-index: 5;
  height: 70px;
  width: 150px;
  top: 0;
  right: 0;
}

.langcontainer:hover {
  height: fit-content;
  height: -moz-fit-content;
}

.langselector {
  position: relative;
  background-color: #eaeaea;
  border: 1px solid;
  padding: 10px;
  width: 100px;
  top: -1px;
  right: -150px;
  border-radius: 0 0 0 10px;
}

.langselector::before {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  cursor: pointer;
  content: 'lang';
  background-color: #eaeaea;
  position: absolute;
  transform: rotate(-90deg);
  text-align: center;
  border-radius: 5px 5px 0 0;
  height: 25px;
  width: 45px;
  left: -36px;
  top: 17px;
}

.langselector:hover {
  right: -40px;
}

.lang {
  display: inline-flex;
  width: 49%;
}

.langselector .lang a {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  padding: 8px 8px;
  margin: 0px 6px;
}

.langselector .lang a:hover {
  text-decoration: underline;
}

.langselector .lang a.selectedlang:hover {
  cursor: default;
  text-decoration: none;
}

a.selectedlang {
  background: #5a5a5a;
  color: white;
  font-weight: normal !important;
  border-radius: 2000px;
}

/* Screen */

.contenido {
  overflow-x: auto;
  padding: 20px;
}

#contenedor {
  min-width: fit-content;
  min-width: -moz-fit-content;
}

.tarjeta {
  min-width: fit-content;
  min-width: -moz-fit-content;
  box-shadow: 0px 4px 6px 0px #00000040;
  background-color: whitesmoke;
  border-radius: 15px;
}

.tituloPagina {
  background-color: rgb(44, 44, 44);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3em !important;
  margin: 0;
  border-radius: 15px 15px 0 0;
  line-height: 2em;
  padding: 10px 0;
}

.bloque h1 {
  text-align: center;
  margin: 0 0 10px !important;
}

.addmodmessage {
  width: fit-content;
  width: -moz-fit-content;
  margin: 5px auto 20px;
}

.addmodmessage p {
  box-shadow: 3px 3px 6px 2px #00000040;
  border: 3px solid green;
  background-color: white;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 8px 25px;
  width: -moz-fit-content;
  width: fit-content;
}

.addmodmessage i {
  height: 10px;
}

/* TABLES STUFF (multiple pages) */

.lists {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.mat-row,
.mat-header-row {
  height: 50px !important;
  min-height: 50px !important;
}

.mat-cell,
.mat-header-cell {
  margin-left: 20px;
  min-width: 70px;
}

.mat-column-poolupdate_pair {
  flex: 0 0 100px !important;
  justify-content: center !important;
  padding: 0 !important;
}

.mat-table {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.mat-header-row {
  background-color: rgb(44, 44, 44);
}

.mat-header-cell {
  font-size: 1.2em;
}

.mat-sort-header-arrow, .mat-header-cell {
  color: white;
}

.mat-row:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

.mat-row:hover {
  background-color: rgb(219, 219, 219);
}

.pairsTable {
  font-size: 0.8em;
  line-height: 1em;
}

.mat-sort-header.mat-column-Show-Pairs,
.mat-sort-header.mat-column-Show-Clients {
  position: relative;
  padding: 0;
}

.mat-sort-header.mat-column-Hide-Pairs,
.mat-sort-header.mat-column-Hide-Clients {
  position: relative;
  padding: 15px 0;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container,
.mat-sort-header.mat-column-Show-Clients .mat-sort-header-container,
.mat-sort-header.mat-column-Hide-Clients .mat-sort-header-container {
  width: 100%;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content,
.mat-sort-header.mat-column-Show-Clients .mat-sort-header-container .mat-sort-header-content,
.mat-sort-header.mat-column-Hide-Clients .mat-sort-header-container .mat-sort-header-content {
  position: absolute;
  width: 100%;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-arrow,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-arrow,
.mat-sort-header.mat-column-Show-Clients .mat-sort-header-container .mat-sort-header-arrow,
.mat-sort-header.mat-column-Hide-Clients .mat-sort-header-container .mat-sort-header-arrow {
  display: none;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted,
.mat-sort-header.mat-column-Show-Clients .mat-sort-header-container .mat-sort-header-content .ng-star-inserted,
.mat-sort-header.mat-column-Hide-Clients .mat-sort-header-container .mat-sort-header-content .ng-star-inserted {
  width: 100%;
  padding: 100px 0;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.mat-sort-header.mat-column-Show-Clients .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.mat-sort-header.mat-column-Hide-Clients .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.mat-column-Hide-Pairs .ng-star-inserted:hover,
.mat-column-Show-Pairs .ng-star-inserted:hover,
.mat-column-Hide-Clients .ng-star-inserted:hover,
.mat-column-Show-Clients .ng-star-inserted:hover {
  color: rgb(115, 224, 115);
}

.cdk-column-Show-Pairs,
.cdk-column-Show-Clients {
  padding: 0;
}

.mat-cell.cdk-column-Hide-Pairs,
.mat-cell.cdk-column-Show-Pairs,
.mat-cell.cdk-column-Hide-Clients,
.mat-cell.cdk-column-Show-Clients {
  position: relative;
  background-color: #2c2c2c;
  color: white;
}

.mat-column-Hide-Pairs .ng-star-inserted,
.mat-column-Show-Pairs .ng-star-inserted,
.mat-column-Hide-Clients .ng-star-inserted,
.mat-column-Show-Clients .ng-star-inserted {
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 100px 0;
}

.mat-column-Hide-Pairs .ng-star-inserted,
.mat-column-Show-Pairs .ng-star-inserted,
.mat-column-Hide-Clients .ng-star-inserted,
.mat-column-Show-Clients .ng-star-inserted {
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 100px 0;
}

.mat-column-Show-Pairs .ng-star-inserted:hover::before,
.mat-column-Show-Clients .ng-star-inserted:hover::before {
  content: "<";
  font-weight: normal;
  position: absolute;
  left: 5px;
}

.mat-column-Show-Pairs .ng-star-inserted:hover::after,
.mat-column-Show-Clients .ng-star-inserted:hover::after {
  content: ">";
  font-weight: normal;
  position: absolute;
  right: 5px;
}

.mat-column-Hide-Pairs .ng-star-inserted:hover::before,
.mat-column-Hide-Clients .ng-star-inserted:hover::before {
  content: ">";
  font-weight: normal;
  position: absolute;
  left: 5px;
}

.mat-column-Hide-Pairs .ng-star-inserted:hover::after,
.mat-column-Hide-Clients .ng-star-inserted:hover::after {
  content: "<";
  font-weight: normal;
  position: absolute;
  right: 5px;
}

.newcapital {
  margin: 0 !important;
}

.mat-column-Hide-Pairs,
.mat-column-Hide-Clients {
  flex: 0 0 140px !important;
  min-width: 140px !important;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}

/* Tokens and exchange images */

.tokenimg {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.tokenimgalone {
  height: 20px;
  width: 20px;
  margin-right: 25px;
  margin-left: 15px;
}

/* Edit link on tables */

.editlink {
  background-color: transparent;
  display: block;
  border-radius: 100px;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3em;
}

.editlink:hover {
  background-color: rgb(252, 134, 66);
}

/* Pagination and filter */

.tablelist, .pagination {
  margin: 0 20px;
}

.listFilter {
  width: 100%;
}

.listFilter.poolslist {
  margin-top: -45px;
}

.listFilter .mat-form-field-wrapper {
  margin: 0 20px;
  width: 200px !important;
  float: right;
  padding-bottom: 10px;
}

.mat-select-min-line {
  padding-left: 10px;
}

.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
  background-color: transparent !important;
}

/* Table superior buttons */

.pbdbtn {
  background-color: rgb(36, 62, 146);
  color: white;
  margin: 0px 20px !important;
  z-index: 1;
}

.pbdbtn:hover {
  background-color: rgb(57, 92, 207);
}

.addbtn {
  background-color: rgb(14, 124, 23);
  color: white;
  margin: 0px 20px !important;
  z-index: 1;
}

.addbtn:hover {
  background-color: rgb(43, 156, 52);
}

.poolupdate.addbtn {
  margin-bottom: 15px !important;
}

/* FORMS STUFF (multiple pages) */

 form {
  width: max-content;
  margin: auto;
  text-align: right;
  font-size: 1.5em;
  padding: 15px 15px 40px;
}

.forms {
  width: 80%;
}

.forms.pools {
  width: 100%;
  padding: 0;
}

.forms.pools p {
  margin: 0;
}

.forms.pools .mat-header-cell {
  font-size: 0.8em;
}

.forms.pools .mat-form-field-should-float {
  margin: 10px 0px -10px 0px;
}

.mat-form-field-flex {
  background-color: rgba(0,0,0,.04); border-radius: 5px 5px 0 0;
}

.mat-input-element,
.mat-form-field-label {
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  width: 98% !important;
}

.mat-column-add .mat-input-element {
  padding-bottom: 0 !important;
}

.mat-column-add .mat-form-field-flex {
  margin: 20px auto auto;
}

.mat-column-add .mat-form-field-should-float {
  margin: 0 !important;
}

.forms p {
  margin-bottom: 30px;
}

.input {
  width: 100%;
}

.forminput {
  margin: 25px auto;
}

.forminput button {
  margin: 0 25px;
  padding: 5px 20px;
  font-size: 0.8em;
}

.submitbtn {
  background-color: rgb(14, 124, 23);
  color: white;
}

.submitbtn:hover {
  background-color: rgb(43, 156, 52);
  color: black;
}

.backbtn {
  background-color: rgb(199, 7, 7) !important;
  color: white;
}

.backbtn:hover {
  background-color: rgb(255, 61, 61) !important;
  color: black;
}

.errorform {
  color: crimson;
  font-size: 0.8em;
}

.formalert {
  border: 2px solid crimson;
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
}

.alertinfo{
  text-align: center;
  color: crimson;
  margin: -30px 0 20px !important;
}

/* POOLS DONE PAGE  &  NO DATA*/

.nopairtopool,
.nodata,
.poolsdone {
  margin: 25px auto;
  text-align: center;
}

.nopairtopool h2,
.poolsdone h2 {
  font-size: 2em;
  margin: 16px 0 16px;
}

.nodata h2 {
  font-size: 2em;
  margin: 16px 0 16px;
}

.nodata,
.poolsdone img {
  margin: auto;
}

.nopairtopool .addbtn,
.poolsdone .poolupdate.addbtn {
  margin: 20px 10px 0px !important;
}

.logopooldone {
  width: 200px;
}

.nodata .hmbtn {
  margin: 10px !important;
  font-size: 1.5em;
  padding: 5px 20px !important;
}


/* BENEFITS CELLS COLOR */

.zeroBenefit {
  font-weight: bold;
  padding: 15px 500px 14px 14px;
  background-color: rgb(238, 235, 198);
}

.negBenefit {
  font-weight: bold;
  padding: 15px 500px 14px 14px;
  background-color: rgb(212, 59, 59);
}

.posBenefit {
  font-weight: bold;
  padding: 15px 500px 14px 14px;
  background-color: rgb(70, 151, 70);
}

/* CLIENT LIST PAGE */

.initialclients {
  text-align: center;
  margin: 5px 20px !important;
}

/* CLIENT DETAIL PAGE */

#clientDet {
  margin: auto;
  width: 1100px;
}

.clientInfo {
  display: flex;
}

.clientInfo h2 {
  width: 33%;
  padding: 10px 40px 20px;
  text-align: center;
  border-bottom: 3px solid rgb(44, 44, 44);
}

.clientStats{
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  margin: 25px auto 0px;
  padding-bottom: 25px;
  padding-right: 35px;
}

.clientProgress {
  background-color:rgb(230, 230, 230);
  box-shadow: 3px 3px 6px 2px #00000040;
  border-radius: 15px;
  margin: 85px 40px 10px 40px;
  width: 200px;
  min-width: 200px;
  height: 350px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.clientProgress::before {
  content: "";
  background-image: url(/assets/images/pandaface.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 165px;
  height: 100px;
  bottom: 99%;
  left: 10px;
}

.clientProgress p {
  background-color: red;
  background-size: cover;
  position: absolute;
  color: white;
  font-size: 0.8em;
  z-index: 3;
  margin: 0;
  padding: 0px 8px;
  border-radius: 0 0 15px 0;
  bottom: 0px;
  right: 0px;
}

.progressData h3 {
  font-size: 1.5em;
  margin: 8px;
}

.progressData:last-child {
  margin-bottom: 5px;
}

.clientProgress h2 {
  background: rgb(44, 44, 44);
  color: white;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.progressData {
  padding: 5px;
}

.progressData i {
  width: 30px;
}

.clientProgress .fa-minus {
  color: rgb(44, 44, 44);
}

.clientProgress .fa-arrow-down {
  color: red;
}

.clientProgress .fa-arrow-up {
  color: green;
}

.capitalProgress {
  margin: auto;
}

.capitalProgressData {
  background-color:rgb(230, 230, 230);
  box-shadow: 3px 3px 6px 2px #00000040;
  border-radius: 15px;
  margin: 40px 0px 40px 40px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  height: fit-content;
  height: -moz-fit-content;
}

.capitalProgressData.wallet::before {
  content: "";
  background-image: url(/assets/images/wallet.png);
  background-size: cover;
  position: absolute;
  width: 61px;
  height: 70px;
  top: -40px;
  right: -20px;
}

.capitalProgressData.bamboo::after {
  content: "";
  background-image: url(/assets/images/bamboos.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 66px;
  height: 90px;
  top: -60px;
  left: 0px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.capitalProgressData.bamboo::before {
  content: "";
  background-image: url(/assets/images/bamboos.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 66px;
  height: 90px;
  top: -60px;
  right: 0px;
}

.capitalProgressData .titulo {
  background: rgb(44, 44, 44);
  color: white;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.capitalData {
  display: flex;
  margin: 10px auto;
}

.capitalData h2 {
  margin: 0 30px;
  text-align: center;

}

.capitalData i {
  margin: 15px auto;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

.clientDetNwc {
  margin-bottom: 0px !important;
}

/* HOME PAGE */

.home, .poolvariation {
  padding-bottom: 25px;
  text-align: center;
}

.firsthome h2 {
  font-size: 1.9em;
}

.home.firsthome.tarjeta {
  margin: auto;
  max-width: 1000px;
}

.home .steps{
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  box-shadow: 3px 3px 6px 2px #00000040;
  margin: 20px 40px;
  min-width: 600px;
}

.home .steps p{
  text-align: center;
  background-color: rgb(44,44,44);
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px 0;
}

.firsthome p {
  font-size: 1.3em;
}

.hmbtn {
  background-color: rgb(36, 116, 26);
  color: white;
  margin: 0px 5% 20px !important;
  z-index: 1;
  padding: 2px 20px !important;
  font-size: 1.2em;
}

.hmbtn:hover {
  background-color: rgb(14, 177, 49);
}

.homeinfo {
  width: fit-content;
  width: -moz-fit-content;
  margin: 5px auto 25px;
}

.capsbtn {
  margin: auto 0;
}

/* TOTAL COMPARISON */

.totalCompare {
  margin: auto;
  text-align: center;
  margin: 30px;
  padding-bottom: 30px;
  display: flex;
}

.totalCompareData {
  box-shadow: 0px 4px 6px 0px #00000040;
  margin: auto;
  padding: 0 0 5px 0;
  border-radius: 10px;
}

.totalcard {
  margin: auto;
  background: #dfdfdf;
  padding: 0 0 5px 0;
  border-radius: 10px;
}

.totalDate {
  background-color: rgb(40, 40, 40);
  color: white;
  margin: 0 0 10px 0 !important;
  padding: 5px 35px;
  border-radius: 10px 10px 0 0;
}

.totalCompareData p {
  font-size: 1.3em;
}

.totalCompareData p:last-child {
  font-size: 1.6em;
  font-weight: bold;
}

.totalarrows {
  font-size: 3em;
  margin: auto -2%;
  box-shadow: unset !important;
  background-color: transparent;
}

/* POOL VARIATION PAGE */

.poolvarPoolCard {
  background-color: rgb(230, 230, 230);
  box-shadow: 3px 3px 6px 2px #00000040;
  border-radius: 15px;
  margin: 30px 40px;
  text-align: center;
  min-width: 600px;
}

.poolvarPoolCard .titulo {
  position: relative;
  background: rgb(44, 44, 44);
  color: white;
  margin: 0;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.poolvarPoolCard .titulo img {
  margin-left: 15px;
}

.poolvarPoolCard .titulo .poolvarexchange {
  float: left;
  margin-left: 10px;
}

.poolvarPoolCard .titulo .poolvartoken {
  margin: 0 2%;
}

.poolvarPoolCard .titulo .poolvartoken.freearrow {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 6px;
}

.poolvarPoolCard .titulo .poolvartoken.freeclose {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 6px;
}

.poolvarDayData, .poolvarTotalData {
  margin: auto;
  text-align: center;
}

.poolvarDayData {
  width: -webkit-fill-available;
  width: -moz-available;
  min-width: 100px;
  border-right: 1px solid black;
  font-size: 1.2em;
}

.poolvarDayData .poolvarzero,
.poolvarDayData .poolvarneg,
.poolvarDayData .poolvarpos {
  padding: 10px 0;
}

.poolvarDayData .poolvarzero p:last-child,
.poolvarDayData .poolvarneg p:last-child,
.poolvarDayData .poolvarpos p:last-child {
  margin-bottom: 0;
}

.poolvarDayData .poolvarneg {
  background-color: rgb(243, 172, 172);
}

.poolvarDayData .poolvarpos {
  background-color: rgb(197, 240, 203);
}

.poolvarDayData:last-child {
  border-right: unset;
}

.poolvarDayData .fa-angle-double-right {
  font-size: 2.5em;
}

.poolvarPoolData, .poolvarPoolTotal{
  display: flex;
}

.poolvarPoolData .fa-arrow-down,
.poolvarTotalData .fa-arrow-down {
  color: red;
}

.poolvarPoolData .fa-arrow-up,
.poolvarTotalData .fa-arrow-up {
  color: green;
}

.poolvarPoolTotal {
  background: rgb(230, 230, 230);
  font-size: 1.4em;
  margin: 0;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid black;
}

.poolvarPoolTotal p {
  margin: 0;
  font-weight: bold;
}

/* NOT FOUND PAGE */

.notfound {
  margin: 25px auto;
  text-align: center;
}

.notfound h2 {
  font-size: 2em;
  padding: 16px 0 30px;
}

.notfound h2:first-child {
  font-size: 2em;
  padding: 0;
}

.notfound img {
  margin: auto;
  width: 250px;
}



/* Dark mode */

body.dark { background-color: rgb(50, 60, 90) !important; }
.dark .nopairtopool p { color: white !important; }
.dark .poolsdone h2, .dark .nopairtopool h2 { color: white; font-weight: normal; }
.dark .notfound h2 { color: white !important; }
.dark .totalarrows { color: white !important; }
.dark .addmodmessage p { border: 3px solid #35b935 !important; background-color: #545454 !important; font-weight: normal !important; color: white !important; }

/* Header */
.dark .header { background-color: #282d42 !important; }
.dark .plants { filter: invert(1) !important; }
.dark .green{ background-color: #282d42 !important; }
.dark .logo { background-color: #282d42 !important; }

/* Lateral Menu */
.dark #menu { background-color: rgb(20, 20, 20) !important; }
.dark #menu a { color: black !important; }
.dark .itemmenu { color: white; background-color: rgb(120, 120, 120) !important;  border: 2px solid rgb(20, 20, 20) !important; }
.dark .itemmenu p { color: white; font-weight: normal !important;}
.dark .itemmenu:hover { background-color: black !important; border: 2px solid white !important; }
.dark .itemmenu:hover p { color: white !important; }
.dark .menuhover { background-color: rgb(7, 7, 7) !important; border: 2px solid white !important; }

/* Screen */
.dark .tarjeta { background-color: #606060 !important; }
.dark .tituloPagina { background-color: rgb(20, 20, 20); }


/* TABLES STUFF (multiple pages) */
.dark .mat-header-row { background-color: rgb(20, 20, 20) !important; }
.dark .mat-row:nth-child(odd) { background-color: rgb(40, 40, 40) !important; }
.dark .mat-row:nth-child(even) { background-color: rgb(60, 60, 60) !important; }
.dark .mat-row:hover { background-color: rgb(100, 100, 100) !important; }
.dark .mat-cell { color: white !important; font-weight: normal !important; }
.dark .mat-column-url a { color: #c1d4ff !important; }
.dark .mat-cell.cdk-column-Hide-Pairs,
.dark .mat-cell.cdk-column-Show-Pairs,
.dark .mat-cell.cdk-column-Hide-Clients,
.dark .mat-cell.cdk-column-Show-Clients { background-color: #101010 !important; }
.dark .negBenefit, .dark .posBenefit { font-weight: normal !important; }
.dark .zeroBenefit { color: black !important; }

.dark .mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.dark .mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.dark .mat-sort-header.mat-column-Show-Clients .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.dark .mat-sort-header.mat-column-Hide-Clients .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.dark .mat-column-Hide-Pairs .ng-star-inserted:hover,
.dark .mat-column-Show-Pairs .ng-star-inserted:hover,
.dark .mat-column-Hide-Clients .ng-star-inserted:hover,
.dark .mat-column-Show-Clients .ng-star-inserted:hover {
  color: rgb(55, 190, 255) !important;
}

/* Edit link on tables */
.dark .editlink { color: white !important; }
.dark .editlink:hover { background-color: rgb(185, 96, 45) !important; }


/* FORMS STUFF (multiple pages) */
.dark .mat-form-field-flex { background-color: #202020 !important; border-radius: 5px 5px 0 0; }
.dark .mat-select-arrow { color: white !important; }
.dark .mat-select-value { color: white !important; font-weight: normal !important; }
.dark .mat-form-field-label { color: #cccccc !important; font-weight: normal !important; }
.dark .mat-select-panel { background-color: #666666 !important; }
.dark .mat-option-text { background-color: #666666 !important; color: white !important; }
.dark .mat-option-text:hover { background-color: #474747 !important; color: white !important; }
.dark .mat-button-disabled { background-color: #959595 !important; }
.dark .mat-input-element { color: white !important; font-weight: normal !important; }
.dark .mat-form-field-appearance-legacy .mat-form-field-underline { background-color: rgba(218, 218, 218, 0.3); }
.dark .alertinfo{color: #ffb8b8 !important;
}

/* PAGINATOR */
.dark .mat-paginator-container { background-color: #141414 !important; color: white !important; font-weight: normal !important; }
.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
  color: rgb(185 185 185 / 26%) !important;
}

/* CLIENT DETAIL PAGE */
.dark .clientInfo h2 { border-bottom: 2px solid white; color: white !important; font-weight: normal !important; }
.dark .clientProgress { background-color:rgb(230, 230, 230); box-shadow: 3px 3px 6px 2px #00000040; }
.dark .clientProgress::after { background-color: red; color: white; }
.dark .clientProgress h2 { background: rgb(44, 44, 44); color: white; }
.dark .clientProgress .fa-minus { color: rgb(44, 44, 44); }
.dark .clientProgress .fa-arrow-down { color: red; }
.dark .clientProgress .fa-arrow-up { color: green; }
.dark .capitalProgress .titulo { background: rgb(44, 44, 44); color: white; }


/* HOME PAGE */
.dark .firsthome h2 { color: white !important;}
.dark .homeinfo {background: transparent !important; color: white !important; font-weight: normal !important; }
.dark .poolvarDayData { border-right: 1px solid white !important;}
.dark .poolvarPoolTotal { color: white !important;  background-color: #898989 !important; border-top: 1px solid white; }
.dark .poolvarPoolTotal p { font-weight: normal !important; }
.dark .homeinfo { background: white; }




@media(max-width: 1250px) {

  .itemmenu {
    width: 32%;
  }
}


@media(max-width: 900px) {

  .tituloheader h1 {
    width: 80%;
    margin: auto;
    font-size: 6.22vw;
  }
}


@media(max-width: 650px) {

  .itemmenu {
    width: 49%;
  }
}


@media(max-width: 450px) {

  .tituloheader h1 {
    font-size: 1.8em;
    padding: 10px;
    width: 65%;
  }

  .forminput button {
    margin: 0 10px;
  }

  .itemmenu {
    margin: 1px 0;
    width: 100%;
    padding: 0%;
  }

  .itemmenu .itemText {
    display: inline-block;
    width: 72%;
    padding: 0;
  }

  .itemmenu:first-child {
    transform: unset;
    margin-top: unset;
    padding: 2px 0;
  }

  .itemmenu:first-child p {
    padding: 0;
  }

  .buttons {
    display: inline-block;
    position: relative;
    width: 28%;
    height: unset;
    top: 0;
    right: 0;
  }

  .buttons2 div {
    display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .buttonlist {
    border-radius: 0px;
    padding: 3px 0;
  }

  .buttonadd2 {
    border-radius: 0 4px 4px 0;
    padding: 3px 0;
  }

}
