body {
  margin: 0;
  background-color: rgb(182, 218, 182);
  font-family: 'Exo 2', sans-serif !important;
}

.tituloPagina,
.mat-table,
.mat-select-value-text,
.mat-paginator-container,
.listFilter .mat-form-field-wrapper,
.poolsdone h2,
.nodata h2,
.mat-form-field {
  font-family: 'Exo 2', sans-serif !important;
  font-weight: bold;
}

.mat-button-wrapper,
form {
  font-family: 'Exo 2', sans-serif !important;
}

.logodiv {
  margin: auto;
  width: 200px;
}

.logo {
  width: 200px;
}

.pointer {
  cursor: pointer;
}

/* Lateral Menu */

#menu {
  background-color: rgb(51, 51, 51);
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
}

#menu a {
  color: black;
}

.itemmenu {
  font-size: 1.5em;
  line-height: 50px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: 20px 0px;
}

.itemmenu:hover {
  background-color: rgb(90, 90, 90);
}

.itemmenu:hover p {
  color: white;
}

.itemmenu a {
  text-decoration: none;
}

.itemmenu p {
  margin-bottom: 0;
  font-weight: bold;
}

.buttons {
  display: flex;
  height: 30px;
}

.buttons i {
  display: block;
  font-size: 22px;
  line-height: 33px;
}

.buttons2 div { width: 50%; }

.buttonlist{ background-color: rgb(159, 197, 255); border-radius: 0px 0px 0px 5px; }
.buttonadd2{ background-color: rgb(121, 241, 137); border-radius: 0px 0px 5px 0px; }

.buttonlist:hover{ background-color: rgb(116, 170, 252); }
.buttonadd2:hover{ background-color: rgb(73, 211, 91); }

.web {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menulateral{
  position: fixed;
  width: 250px;
  padding-left: 15px;
  margin-top: 20px;
}

/* Divisor */

.divisor {
  position: absolute;
  width: 15px;
  height: 100vh;
  left: 265px;
  background: linear-gradient(90deg, #b6dab6 20%, transparent);
}

/* Screen */

.contenido{
  overflow-x: scroll;
  width: -webkit-fill-available;
  padding: 20px;
  margin-left: 265px;
}

#contenedor {
  width: -webkit-fill-available;
  min-width: fit-content;
  box-shadow: 0px 4px 6px 0px #00000040;
  background-color: whitesmoke;
  border-radius: 15px;
}

.tituloPagina {
  background-color: rgb(44, 44, 44);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3em !important;
  margin: 0;
  border-radius: 15px 15px 0 0;
  line-height: 2em;
  padding: 10px 0;
}

.bloque h1 {
  text-align: center;
}

/* TABLES STUFF (multiple pages) */

.lists {
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.mat-column-client_id,
.mat-column-token_id,
.mat-column-exchange_id,
.mat-column-pair_id,
.mat-column-pool_id,
.mat-column-pool_coins,
.mat-column-edit{
  flex: 0 0 40px !important;
  min-width: 40px !important;
}

.mat-column-pool_coins {
  flex: 0 0 50px !important;
  min-width: 50px !important;
}

.mat-cell,
.mat-header-cell {
  margin-left: 20px;
  min-width: 70px;
}

.mat-column-poolupdate_pair {
  flex: 0 0 100px !important;
  justify-content: center !important;
  padding: 0 !important;
}

.mat-table {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.mat-header-row {
  background-color: rgb(44, 44, 44);
}

.mat-header-cell {
  font-size: 1.2em;
}

.mat-sort-header-arrow, .mat-header-cell {
  color: white;
}

.mat-row:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

.mat-row:hover {
  background-color: rgb(219, 219, 219);
}

.mat-sort-header.mat-column-Show-Pairs {
  position: relative;
  padding: 0;
}

.mat-sort-header.mat-column-Hide-Pairs {
  position: relative;
  padding: 15px 0;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container {
  width: 100%;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content {
  position: absolute;
  width: 100%;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-arrow,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-arrow {
  display: none;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted {
  width: 100%;
  padding: 100px 0;
}

.mat-sort-header.mat-column-Show-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover,
.mat-sort-header.mat-column-Hide-Pairs .mat-sort-header-container .mat-sort-header-content .ng-star-inserted:hover {
  background-color: rgb(78, 78, 78);
}

.cdk-column-Show-Pairs {
  padding: 0;
}

.mat-cell.cdk-column-Hide-Pairs,
.mat-cell.cdk-column-Show-Pairs {
  position: relative;
  background-color: #2c2c2c;
  color: white;
}

.mat-column-Hide-Pairs .ng-star-inserted,
.mat-column-Show-Pairs .ng-star-inserted {
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 100px 0;
}

.mat-column-Show-Pairs .ng-star-inserted:hover::before {
  content: "<";
  font-weight: normal;
  position: absolute;
  left: 5px;
}

.mat-column-Show-Pairs .ng-star-inserted:hover::after {
  content: ">";
  font-weight: normal;
  position: absolute;
  right: 5px;
}

.mat-column-Hide-Pairs .ng-star-inserted:hover::before {
  content: ">";
  font-weight: normal;
  position: absolute;
  left: 5px;
}

.mat-column-Hide-Pairs .ng-star-inserted:hover::after {
  content: "<";
  font-weight: normal;
  position: absolute;
  right: 5px;
}

.newcapital {
  margin: 0 !important;
}

/* Tokens and exchange images */

.tokenimg {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.tokenimgalone {
  height: 20px;
  width: 20px;
  margin-right: 25px;
  margin-left: 15px;
}

/* Edit link on tables */

.editlink {
  background-color: transparent;
  display: block;
  border-radius: 100px;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3em;
}

.editlink:hover {
  background-color: rgb(252, 134, 66);
}

/* Pagination and filter */

.tablelist, .pagination {
  margin: 0 20px;
}

.listFilter {
  width: 100%;
}

.listFilter.poolslist {
  margin-top: -45px;
}

.listFilter .mat-form-field-wrapper {
  margin: 0 20px;
  width: 200px !important;
  float: right;
}

/* Table superior buttons */

.pbdbtn {
  background-color: rgb(36, 62, 146);
  color: white;
  margin: 0px 20px !important;
  z-index: 1;
}

.pbdbtn:hover {
  background-color: rgb(57, 92, 207);
}

.addbtn {
  background-color: rgb(14, 124, 23);
  color: white;
  margin: 0px 20px !important;
  z-index: 1;
}

.addbtn:hover {
  background-color: rgb(43, 156, 52);
}

.poolupdate.addbtn {
  margin-bottom: 20px !important;
}

/* FORMS STUFF (multiple pages) */

 form {
  width: max-content;
  margin: auto;
  text-align: right;
  font-size: 1.5em;
  padding: 15px 15px 40px;
}

.forms {
  width: 80%;
}

.forms.pools {
  width: 100%;
  padding: 0;
}

.forms.pools p {
  margin: 0;
}

.forms.pools .mat-header-cell {
  font-size: 0.8em;
}

.forms.pools .mat-form-field-should-float{
  margin: 10px 0px -10px 0px;
}

.forms p {
  margin-bottom: 30px;
}

.input {
  width: 100%;
}

.forminput {
  margin: 25px auto;
}

.forminput button {
  margin: 0 25px;
  padding: 5px 20px;
  font-size: 0.8em;
}

.submitbtn {
  background-color: rgb(37, 151, 37);
  color: white;
}

.submitbtn:hover {
  background-color: rgb(12, 141, 12);
  color: black;
}

.backbtn:hover {
  background-color: rgb(231, 38, 38);
  color: black;
}

.errorform {
  color: crimson;
  font-size: 0.8em;
}

/* POOLS DONE PAGE  &  NO DATA*/

.nodata,
.poolsdone {
  margin: 25px auto;
  text-align: center;
}

.poolsdone h2 {
  font-size: 2em;
  margin: 16px 0 16px;
}

.nodata h2 {
  font-size: 2em;
  margin: 16px 0 16px;
}

.nodata,
.poolsdone img {
  margin: auto;
}

.nodata .hmbtn {
  margin: 10px !important;
  font-size: 1.5em;
  padding: 5px 20px !important;
}


/* BENEFITS CELLS COLOR */

.zeroBenefit {
  font-weight: bold;
  padding: 14px 500px 14px 14px;
  background-color: rgb(238, 235, 198);
}

.negBenefit {
  font-weight: bold;
  padding: 14px 500px 14px 14px;
  background-color: rgb(212, 59, 59);
}

.posBenefit {
  font-weight: bold;
  padding: 14px 500px 14px 14px;
  background-color: rgb(70, 151, 70);
}

/* CLIENT DETAIL PAGE */

.clientInfo {
  display: flex;
}

.clientInfo h2 {
  width: 33%;
  padding: 10px 40px 20px;
  text-align: center;
  border-bottom: 3px solid rgb(44, 44, 44);
}

.clientStats{
  display: flex;
  width: fit-content;
  margin: auto;
  padding-bottom: 25px;
  padding-right: 35px;
}

.clientProgress {
  background-color:rgb(230, 230, 230);
  box-shadow: 3px 3px 6px 2px #00000040;
  border-radius: 15px;
  margin: 85px 40px 10px 40px;
  width: 200px;
  min-width: 200px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.clientProgress::before {
  content: "";
  background-image: url(/assets/images/pandaface.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 165px;
  height: 100px;
  bottom: 99%;
  left: 10px;
}

.clientProgress::after {
  content: "Last progress";
  background-color: red;
  background-size: cover;
  position: absolute;
  color: white;
  font-size: 0.8em;
  z-index: 3;
  padding: 0px 8px;
  border-radius: 0 0 15px 0;
  bottom: 0px;
  right: 0px;
}

.progressData h3 {
  font-size: 1.5em;
}

.progressData:last-child {
  margin-bottom: 5px;
}

.clientProgress h2 {
  background: rgb(44, 44, 44);
  color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.progressData {
  padding: 5px;
}

.progressData i {
  width: 30px;
}

.clientProgress .fa-minus {
  color: rgb(44, 44, 44);
}

.clientProgress .fa-arrow-down {
  color: red;
}

.clientProgress .fa-arrow-up {
  color: green;
}

.capitalProgress {
  background-color:rgb(230, 230, 230);
  box-shadow: 3px 3px 6px 2px #00000040;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  position: relative;
  height: fit-content;
}

.capitalProgress::before {
  content: "";
  background-image: url(/assets/images/wallet.png);
  background-size: cover;
  position: absolute;
  width: 61px;
  height: 70px;
  top: -40px;
  right: -20px;
}

.capitalProgress .titulo {
  background: rgb(44, 44, 44);
  color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.capitalData {
  display: flex;
  margin: 10px auto;
}

.capitalData h2 {
  margin: 0 30px;
  text-align: center;

}

.capitalData i {
  margin: 15px auto;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

/* HOME PAGE */

.home{
  padding-bottom: 30px;
  text-align: center;
}

.firsthome h2 {
  font-size: 1.9em;
}

.firsthome .info {
  margin: 20px 0 25px 0;
  font-weight: bold;
}

.home .steps{
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  box-shadow: 3px 3px 6px 2px #00000040;
  margin: 30px 40px;
  min-width: 600px;
}

.home .steps p{
  text-align: center;
  background-color: rgb(44,44,44);
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px 0;
}

.firsthome p {
  font-size: 1.3em;
}

.hmbtn {
  background-color: rgb(36, 116, 26);
  color: white;
  margin: 0px 5% 20px !important;
  z-index: 1;
  padding: 2px 20px !important;
  font-size: 1.2em;
}

.hmbtn:hover {
  background-color: rgb(14, 177, 49);
}

.homePoolCard {
  background-color: rgb(230, 230, 230);
  box-shadow: 3px 3px 6px 2px #00000040;
  border-radius: 15px;
  margin: 30px 40px;
  text-align: center;
  min-width: 600px;
}

.homePoolCard .titulo {
  background: rgb(44, 44, 44);
  color: white;
  margin: 0;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.homePoolCard .titulo img {
  margin-left: 15px;
}

.homePoolCard .titulo .homeexchange {
  float: left;
  margin-left: 10px;
}

.homePoolCard .titulo .hometoken {
  margin: 0 2%;
}

.homeDayData, .homeTotalData {
  margin: auto;
  text-align: center;
}

.homeDayData {
  width: -webkit-fill-available;
  min-width: 100px;
  border-right: 1px solid black;
  font-size: 1.2em;
}

.homeDayData .homezero,
.homeDayData .homeneg,
.homeDayData .homepos {
  padding: 10px 0;
}

.homeDayData .homezero p:last-child,
.homeDayData .homeneg p:last-child,
.homeDayData .homepos p:last-child {
  margin-bottom: 0;
}

.homeDayData .homeneg {
  background-color: rgb(243, 172, 172);
}

.homeDayData .homepos {
  background-color: rgb(197, 240, 203);
}

.homeDayData:last-child {
  border-right: unset;
}

.homeDayData .fa-angle-double-right {
  font-size: 2.5em;
}

.homePoolData, .homePoolTotal{
  display: flex;
}

.homePoolData .fa-arrow-down,
.homeTotalData .fa-arrow-down {
  color: red;
}

.homePoolData .fa-arrow-up,
.homeTotalData .fa-arrow-up {
  color: green;
}

.homePoolTotal {
  background: rgb(230, 230, 230);
  font-size: 1.4em;
  margin: 0;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid black;
}

.homePoolTotal p {
  margin: 0;
  font-weight: bold;
}

/* NOT FOUND PAGE */

.notfound {
  margin: 25px auto;
  text-align: center;
}

.notfound h2 {
  font-size: 2em;
  padding: 16px 0 16px;
}

.notfound img {
  margin: auto;
  width: 350px;
}








/* POOLS BY DAY 2 */

.tablemix .mat-column-Date {
  flex: 0 0 90px !important;
  min-width: 90px !important;
}

.tablemix .mat-column-Empty {
  flex: 0 0 300px !important;
  min-width: 300px !important;
}

.tablemix .mat-header-row {
  height: 101px;
}

.dailyPools2.table2 .mat-table {
  position: absolute;
  width: 300px;
  overflow: scroll;
  top: 0px;
  left: 145px;
}
/*


.tablesx3 {
  display: flex;
}

.dailyPools2 {
}

.dailyPools2:first-child .mat-table {
  margin: 0 0 0 20px;
}

.dailyPools2 .mat-table {
  margin: 0;
  width: min-content;
}

.dailyPools2:last-child .mat-table {
  margin: 0 20px 0 0;
}

.dailyPools2 .mat-header-row {
  height: 100px;
}

.dailyPools2.table2 .mat-cell,
.dailyPools2.table2 .mat-header-cell {
  flex: 0 0 130px !important;
  min-width: 130px !important;
  margin: 0;
  padding: 0 0 0 10px;
}

.dailyPools2.table2 .mat-cell .ng-star-inserted,
.dailyPools2.table2 .mat-header-cell .ng-star-inserted {
  margin: auto;
}

.dailyPools2.table3 .mat-column-TOTAL,
.dailyPools2.table3 .mat-column-Increment,
.dailyPools2.table3 .mat-column-Benefit {
  flex: 0 0 150px !important;
  min-width: 150px !important;
  margin: 0;
  padding: 0 0 0 10px;
}

.dailyPools2.table3 .mat-header-row,
.dailyPools2.table3 .mat-row {
  width: min-content;
}
*/
